.imageSlide__container {
    height:100vh;
    margin-bottom: 1rem;
    position: relative;
}

.imageSlider__imgWrapper{
    background-color: #D3CBCB;
    height:75vh;
    position: relative
}


.thumbnail__cardWrapper{  
    margin: 1rem 0;
    height: 20vh;
    background-color: #D3CBCB;
    position: relative;
}

.secondSlider {
    padding: 0 1.5rem;
}

.slick_arrow_icon{
    color: white;
}

.slick_arrow_iconWrapper{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.slick_arrow_left{
    z-index:1;
    left: -1rem;
    top: 50%;
}

.slick_arrow_right{
    z-index:1;
    right: -1rem;
    bottom: 50%;
}

@media (max-width: 678px) {

    .imageSlider__imgWrapper{
        height: 100vh;
        
    }

    .secondSlider{
        display: none;
    }
}