.ourStory__wrapper{
    position: relative;
}

.ourStoryBackgroundImg{
    z-index: -1;
}

.ourStory__container{
   padding: 5rem 5rem 1.5rem 5rem;
   text-align: center;
}

.ourStory__para{
    padding: 2.5rem;
    margin-bottom: 1rem;
}

.ourStory__para p {
    line-height: 140%;
}

.ourStory__imgCard{
    margin: auto;
    width: 600px;
    height: 500px;
    border-radius: 50%;
}

.ourStory__coupleImg{
    z-index: -1;
}

@media (max-width: 678px) {
    .ourStory__imgCard {
        display: none;
    }

    .ourStory__para p{
        font-size: 2rem;
    }
}